[project]
	description = A test repo for our review works
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xiangzi011
[access "refs/for/refs/*"]
	read = group user/xiangzi011
	push = group user/xiangzi011
	label-Code-Review = -2..+2 group user/xiangzi011
	label-Verified = -1..+1 group user/xiangzi011
	rebase = group user/xiangzi011
	removeReviewer = group user/xiangzi011
	submit = group user/xiangzi011
[access "refs/heads/*"]
	read = group user/xiangzi011
	create = group user/xiangzi011
	push = +force group user/xiangzi011
	pushMerge = group user/xiangzi011
[access "refs/tags/*"]
	push = +force group user/xiangzi011
	pushTag = group user/xiangzi011
	pushSignedTag = group user/xiangzi011
